#--------------------------------
# Ignore invisible files/folders
#--------------------------------
.*
!.gitignore

#--------------------------------
# Ignore data file
#--------------------------------
[dD][aA][tT][aA]/
*.4DD
*.journal
*.4DIndx
*.Match

#--------------------------------
# Ignore derived data
#--------------------------------
Project/DerivedData/

#--------------------------------
# Ignore logs
#--------------------------------
Logs/

#--------------------------------
# Ignore settings & preferences
#--------------------------------
Preferences/
!4DPop AppMaker.*
Settings/
#!buildApp.4DSettings
userPreferences.*/

#--------------------------------
# Miscellaneous
#--------------------------------
*__Orphan__*
*symbols.txt
ehthumbs.db
Thumbs.db

#--------------------------------
# Added by user 
#--------------------------------
Project/Sources/DatabaseMethods/onMobileAppAction.4dm
Project/Sources/DatabaseMethods/onMobileAppAuthentication.4dm
Resources/php.ini
Project/Trash/
Mobile Projects/
!.swiftlint.yml
WebFolder/
images/library/
MobileApps/
Resources/mobile
xcuserdata/
*.bbprojectd/