<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>kAboutPaneTitle</string>
			<key>File</key>
			<string>About</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>kAdvancedOptionGroupTitle</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>kFactoryResetTitle</string>
			<key>Key</key>
			<string>kFactoryReset</string>
			<key>DefaultValue</key>
			<false/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>kResetURLTitle</string>
			<key>Key</key>
			<string>resetServerAddress</string>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>kSendFeedBackGroupTitle</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>kFeedbackShowTitle</string>
			<key>Key</key>
			<string>feedback.show</string>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
			<key>DefaultValue</key>
			<false/>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
